<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.mapper.mall.RegionMapper">
    <resultMap id="BaseResultMap" type="com.springboot.bean.mall.Province">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="type" jdbcType="INTEGER" property="type" />
        <result column="code" jdbcType="INTEGER" property="code" />
    </resultMap>

    <resultMap id="BaseResultMap2" type="com.springboot.bean.mall.City">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="type" jdbcType="INTEGER" property="type" />
        <result column="code" jdbcType="INTEGER" property="code" />
    </resultMap>

    <resultMap id="BaseResultMap3" type="com.springboot.bean.mall.Town">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="type" jdbcType="INTEGER" property="type" />
        <result column="code" jdbcType="INTEGER" property="code" />
    </resultMap>
<select id="selectProvinces" resultMap="BaseResultMap">
    select id, name, type, code from cskaoyan_mall_region where type=1;
</select>

<select id="selectCityByProvinceId" resultMap="BaseResultMap2">
    select id, name, type, code from cskaoyan_mall_region where type=2 and code like CONCAT(#{provinceId},'%')
</select>

 <select id="selectTownByCityId" resultMap="BaseResultMap3">
    select id, name, type, code from cskaoyan_mall_region where type=3 and code like CONCAT(#{cityId},'%')

 </select>
</mapper>